* {
    box-sizing: border-box;
}

header {
    background-color: rgb(235, 235, 235) color;
    color: #5a8d51;
    font: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 70px;
    display: flex;
}

.headerone {
    margin-left: 45px;
    font-size: 24px;
}

.headerone:hover {
    color: rgb(48, 52, 55);
    cursor: pointer;
}

.headernavs {
    padding: 28px;
    margin-left: auto;
    word-spacing: 200%;
    font-size: 16px;
}

.aelement {
    word-spacing: normal;
    color: rgb(89, 88, 88);
}

.belement {
    color: rgb(89, 88, 88);
}

.section {
    background-image: url(healthyfoods.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
    color: white;
    background-blend-mode: darken;
    padding: 90px;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
}

.button {
    background-color: #5a8d51;
    color: white;
    padding: 10px;
    font-size: large;
    border-radius: 50px;
    border-collapse: collapse;
    border-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: rgb(45, 100, 46);
    cursor: pointer;
}

.button2 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #5a8d51;
    padding: 10px;
    font-size: large;
    border-radius: 50px;
    border: solid;
    border-color: #5a8d51;
}

.button2:hover {
    background-color: #5a8d51;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration-color: #5a8d51;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.mission {
    font-size: 22px;
    float: right;
    margin-right: 0%;
    width: 80%;
    height: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
    color: #2C3E50;
    padding-right: 50px;
}

img {
    width: 80%;
    height: auto;
    margin: 0%;
    border-collapse: collapse;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
    transition: 0.3 ease;
    display: block;
}

.second {
    padding: 40px;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    background-size: cover;
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.third {
    background-color: #e9ddc9;
    padding: 100px;
    font-size: 20px;
    height: 100%;
    background-size: cover;
}

footer{
    background-color: #2C3E50;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}